.card{
    width: 100%;
    max-width: 500px;
}
#carouselProduct .carousel-item img {
    object-fit:contain;
    object-position: center;
    max-height: 300px;
    overflow: hidden;
  }

.carousel-control-prev, .carousel-control-next{
    background-color: rgba(0, 0, 0, 0.05);
}

.card-subtitle-category{
    font-size: 1.0rem;
    color: #ff7300;
}